.animated-gradient-box {
  background: linear-gradient(-45deg, #ee7752, #E01E5A, #0500FA, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
    (-.5+(random()) * 3) + em
    (-.5+(random()) * 3) + em
    7px
    hsla(random() * 360, 100%, 50%,.9);
  }
  text-shadow: $text-shadow;
}

.animated-background {
  position: relative;
  overflow: hidden;
}

.animated-background::before,
.animated-background::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
  font-size: 52px;
  color: transparent;
}


.animated-background::before {
  @include dots(40);
  animation-duration: 44s;
  animation-delay: -27s;
}

.animated-background::after {
  @include dots(40);
  animation-duration: 43s;
  animation-delay: -32s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
